.logo-container {
    color: #000;
    text-align: center;
    font-family: Poly;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 766px) {
    .logo-container {
        font-size: 30px;
    }
}
@media (min-width: 1026) {
    .logo-container {
        font-size: 36px;
    }
}
