:root {
    --greyish-text-color: rgba(0, 0, 0, 0.50);
    --absolute-dark-color: #000;
    --absolute-light-color: #fff;
    --text-hover-color: rgb(70, 70, 70);
    --list-border-color: rgb(235, 235, 235);
    --light-grey-color: #d4d4d4;
    --brownlish-color: #BE1622;
    --greyish-bg-color: #f3f3f3;
    --texts-color: #686868;
    --img-bg: rgba(201, 197, 197, 0.15);
}